.DS_Store
.*.swp
.*.rej
/build-*/
/buildroot-????.??*
/download
/release/*.zip
/release/*.img
/release/*.tar
/release/*.ova
/release/*.tgz
/release/*.sha256
/release/*.mf
/release/*.gz
helm/raspberrymatic/charts/
helm/raspberrymatic/Chart.lock
