<div class="popupTitle">
  <% 
    Write( system.GetVar("title") );
    object oSC = dom.GetObject( system.GetVar("type") );
    object oLV = dom.GetObject( oSC.LeftVal() );
    integer iCT = oSC.ConditionType();
    integer iRV1 = oSC.RightVal1();
    integer iRV2 = oSC.RightVal2();
    string sValueUnit = oLV.ValueUnit();
    ! Write( sValueUnit );
    if( sValueUnit == null ) { sValueUnit = ""; }
    if( sValueUnit == "100%" )
    {
      sValueUnit = "%";
      iRV1 = iRV1 * 100;
      iRV2 = iRV2 * 100;
    }
  %>
</div>
<div class="CLASS00800">
  <table class="popupTableScript CLASS00801" >
    <tr class="popupTableRow">
    <td class="CLASS00802">
    <div class="CLASS00803">${lblValueRange}  / ${lblValue}:</div>
    <table>
    <tr>
      <td>
        <% string sChecked = ""; if(iCT==6) { sChecked="checked"; } %>
        <input id="Radio1" type="radio" <% Write(sChecked); %> onclick="SetCT(this);" name="valueRange" />
        <a class="CLASS00804">${ruleConditionLblRangeFrom}</a>
        <input id="Text1" type="text" value="<% Write(iRV1.ToString(2)); %>" class="CLASS00805"/>
        <a class="CLASS00804"> <% Write(sValueUnit); %></a></td>
      <td>
        <a class="CLASS00807">${ruleConditionLblRangeLessThan}</a>
      </td>
      <td>
        <input id="Text2" type="text" value="<% Write(iRV2.ToString(2)); %>" class="CLASS00806"/>
        <a class="CLASS00804"><% Write(sValueUnit); %></a>
      </td>
    </tr>
    
    <tr>
      <td>
        <% string sChecked = ""; if(iCT==5) { sChecked="checked"; } %>
        <input id="Radio6" type="radio" <% Write(sChecked); %> onclick="SetCT(this);" name="valueRange"/>
        <a class="CLASS00804">${ruleConditionLblEqualThan}</a>
      </td>
      <td>
        <input id="Text7" type="text" value="<% Write(iRV1.ToString(2)); %>" class="CLASS00806"/>
        <a class="CLASS00804"><% Write(sValueUnit); %></a>
      </td>
    </tr>

    <tr>
      <td>
        <% string sChecked = ""; if(iCT==12) { sChecked="checked"; } %>
        <input id="Radio7" type="radio" <% Write(sChecked); %> onclick="SetCT(this);" name="valueRange"/>
        <a class="CLASS00804">${ruleConditionLblNotEqualThan}</a>
      </td>
      <td>
        <input id="Text8" type="text" value="<% Write(iRV1.ToString(2)); %>" class="CLASS00806"/>
        <a class="CLASS00804"><% Write(sValueUnit); %></a>
      </td>
    </tr>
	
    <tr>
      <td>
        <% string sChecked = ""; if(iCT==8) { sChecked="checked"; } %>
        <input id="Radio2" type="radio" <% Write(sChecked); %> onclick="SetCT(this);" name="valueRange"/>
        <a class="CLASS00804">${ruleConditionLblGreaterThan}</a>
      </td>
      <td>
        <input id="Text3" type="text" value="<% Write(iRV1.ToString(2)); %>" class="CLASS00806"/>
        <a class="CLASS00804"><% Write(sValueUnit); %></a>
      </td>
    </tr>
    
    <tr>
      <td>
        <% string sChecked = ""; if(iCT==10) { sChecked="checked"; } %>
        <input id="Radio3" type="radio" <% Write(sChecked); %> onclick="SetCT(this);" name="valueRange"/>
        <a class="CLASS00804">${ruleConditionLblLessThan}</a>
      </td>
      <td>
        <input id="Text4" type="text" value="<% Write(iRV1.ToString(2)); %>" class="CLASS00806"/>
        <a class="CLASS00804"><% Write(sValueUnit); %></a>
      </td>
    </tr>
    
    <tr>
      <td>
        <% string sChecked = ""; if(iCT==9) { sChecked="checked"; } %>
        <input id="Radio4" type="radio" <% Write(sChecked); %> onclick="SetCT(this);" name="valueRange"/>
        <a class="CLASS00804">${ruleConditionLblGreaterOrEqualThan}</a>
      </td>
      <td>
        <input id="Text5" type="text" value="<% Write(iRV1.ToString(2)); %>" class="CLASS00806"/>
        <a class="CLASS00804"><% Write(sValueUnit); %></a>
      </td>
    </tr>
    
    <tr>
      <td>
        <% string sChecked = ""; if(iCT==11) { sChecked="checked"; } %>
        <input id="Radio5" type="radio" <% Write(sChecked); %> onclick="SetCT(this);" name="valueRange"/>
        <a class="CLASS00804">${ruleConditionLblLessOrEqualThan}</a>
      </td>
      <td>
        <input id="Text6" type="text" value="<% Write(iRV1.ToString(2)); %>" class="CLASS00806"/>
        <a class="CLASS00804"><% Write(sValueUnit); %></a>
      </td>
    </tr>

    </table>
    </td>
    <tr class="popupTableRow">
      <td>
				<div class="FooterButton CLASS00809" onclick="PopupClose();" >${btnCancel}</div>
			</td>
      <td>
				<div class="FooterButton CLASS00809" onclick="SaveValueRange();" >${btnOk}</div>
			</td>
    </td>
    </tr>

  </table>
</div>
<script type="text/javascript">
  ct = <% Write(iCT); %>;
  var go = -1;

  vu = "<% Write(oLV.ValueUnit()); %>";
  min ="<% Write(oLV.ValueMin()); %>";
  max ="<% Write(oLV.ValueMax()); %>";  

  var minVal = (vu == "100%") ? min*100 : min;
  var maxVal = (vu == "100%") ? max*100 : max;

  SetCT = function(elem)
  {
    if( elem.id=="Radio1" ) ct = 6;
    if( elem.id=="Radio2" ) ct = 8;
    if( elem.id=="Radio3" ) ct = 10;
    if( elem.id=="Radio4" ) ct = 9;
    if( elem.id=="Radio5" ) ct = 11; 
    if( elem.id=="Radio6" ) ct = 5; 
    if( elem.id=="Radio7" ) ct = 12; 
  }
  SaveValueRange = function()
  {
    var id = <% Write(system.GetVar("type")); %>;
    var rv1 = 0;
    var rv2 = 0;
    
    switch( ct )
    {
      case 6:
        rv1 = $("Text1").value;
        go = 0;        
        if (isNaN(rv1)) {
          go = 1;
        } else {
          if ( vu != "100%" && (((rv1/1) < (min/1)) || ((rv1/1) > (max/1)))) {
            go = 2;
          } 
        }
        rv2 = $("Text2").value;
        if (isNaN(rv2)) {
          go = 3;
        } else {
          if (  vu != "100%" && (((rv2/1) < (min/1)) || ( (rv2/1) > (max/1)))) {
            go = 4;
          } 
        }       
        if( vu == "100%" )
        {
          if ( go <= 0 ){
            rv1 = (rv1/100 <= 0) ? 0 : rv1/100;
            rv2 = (rv2/100 >= 1) ? 1 : rv2/100;
            go = 0;
          }
        }      
        if(go == 0) {
          if ((rv1/1) > (rv2/1)) go = 7;
        }
        break;
        
      case 8:
        rv1 = $("Text3").value;
        if( vu == "100%" ) rv1 = rv1/100;
        go = 0;
        if (isNaN(rv1)) {
          go = 5;
        } else {
          if ( ( (rv1/1) < (min/1) ) || ( (rv1/1) > (max/1) ) ) {
            go = 6;
          } 
        }
        break;
      case 10:
        rv1 = $("Text4").value;
        if( vu == "100%" ) rv1 = rv1/100;
        go = 0; 
        if (isNaN(rv1)) {
        go = 5;
        } else {
          if ( ( (rv1/1) < (min/1) ) || ( (rv1/1) > (max/1) ) ) {
            go = 6;
          } 
        }       
        break;
      case 9:
        rv1 = $("Text5").value;
        if( vu == "100%" ) rv1 = rv1/100;
        go = 0;
        if (isNaN(rv1)) {
        go = 5;
        } else {
          if ( ( (rv1/1) < (min/1) ) || ( (rv1/1) > (max/1) ) ) {
            go = 6;
          } 
        }
        break;
      case 11:
        rv1 = $("Text6").value;
        if( vu == "100%" ) rv1 = rv1/100;
        go = 0;
        if (isNaN(rv1)) {
        go = 5;
        } else {
          if ( ( (rv1/1) < (min/1) ) || ( (rv1/1) > (max/1) ) ) {
            go = 6;
          } 
        }
        break;
      case 5:
        rv1 = $("Text7").value;
        if( vu == "100%" ) rv1 = rv1/100;
        go = 0;
        if (isNaN(rv1)) {
        go = 5;
        } else {
          if ( ( (rv1/1) < (min/1) ) || ( (rv1/1) > (max/1) ) ) {
            go = 6;
          } 
        }
        break;
      case 12:
        rv1 = $("Text8").value;
        if( vu == "100%" ) rv1 = rv1/100;
        go = 0;
        if (isNaN(rv1)) {
        go = 5;
        } else {
          if ( ( (rv1/1) < (min/1) ) || ( (rv1/1) > (max/1) ) ) {
            go = 6;
          } 
        }
        break;

      default:
        break;
    }




    switch( go)
    {
      case 0:
        iseSingleCondition.SetValueRange(id,rv1,rv2,ct);
        break;
      case 1:
        alert("Der linke Wert ist keine Zahl.");
        break;
      case 2:
        alert("Der linke Wert darf nicht kleiner als '"+minVal+" ' und nicht grösser als '"+maxVal+"' sein.");
        break;
      case 3:
        alert("Der rechte Wert ist keine Zahl.");
        break;
      case 4:
        alert("Der rechte Wert darf nicht kleiner als '"+minVal+" ' und nicht grösser als '"+maxVal+"' sein.");
        break;
      case 5:
        alert("Der Wert ist keine Zahl.");          
        break;
      case 6:
        alert("Der Wert darf nicht kleiner als '"+minVal+" ' und nicht grösser als '"+maxVal+"' sein.");
        break;
      case 7:
        alert("Der linke Wert ist grosser als der rechte.");   
        break;
      default:
        break;
    }
    if (go == 0) PopupClose();
  }
</script>
