CONFIG_KERNEL_LZ4=y
# CONFIG_KERNEL_GZIP is not set

CONFIG_MFD_RK8XX=y
CONFIG_MFD_RK8XX_I2C=y
CONFIG_DW_DMAC_CORE=m
CONFIG_DW_DMAC=m

# CONFIG_WERROR is not set
CONFIG_DRM=y
CONFIG_DRM_ROCKCHIP=y
CONFIG_ROCKCHIP_DW_HDMI=y
CONFIG_DRM_PANEL_SIMPLE=m

CONFIG_DW_WATCHDOG=y
CONFIG_CPUFREQ_DT=y
CONFIG_CPUFREQ_DT_PLATDEV=y
