# misc settings
CONFIG_LOCALVERSION=""
# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_CMDLINE=""
CONFIG_DEFAULT_HOSTNAME="localhost"

# debugging settings (if required)
## CONFIG_DEBUG_INFO_NONE is not set
#CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=y

# enable certain expert features
CONFIG_EXPERT=y

# enable hardware random number generators
CONFIG_HW_RANDOM=y

# disable kernel rtc handling 
# CONFIG_RTC_HCTOSYS is not set
# CONFIG_RTC_SYSTOHC is not set

# disable autofs support
# CONFIG_AUTOFS_FS is not set

# disable joystick/touchscreen/mouse/remote controller support
# CONFIG_INPUT_JOYSTICK is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_INPUT_MOUSEDEV is not set
# CONFIG_INPUT_TABLET is not set
# CONFIG_RC_CORE is not set

# disable CAN support
# CONFIG_CAN is not set

# disable serial device bus support
CONFIG_SERIAL_DEV_BUS=m

# disable lirc
# CONFIG_LIRC is not set

# disable usb webcam support
# CONFIG_USB_GSPCA is not set

# disable apple cinema display support
# CONFIG_USB_APPLEDISPLAY is not set

# disable Video4Linux
# CONFIG_VIDEO_DEV is not set

# disable sound support
# CONFIG_SOUND is not set
# CONFIG_SPEAKUP is not set

# disable accessibility support
# CONFIG_ACCESSIBILITY is not set

# disable unnecessary framebuffer settings
# CONFIG_FB_TFT is not set
# CONFIG_FB_BACKLIGHT is not set
# CONFIG_FB_SSD1307 is not set

# enable framebuffer console
CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
# CONFIG_FRAMEBUFFER_CONSOLE_ROTATION is not set

# disable dedicated backlight support
# CONFIG_BACKLIGHT_GPIO is not set
# CONFIG_BACKLIGHT_LM3630A is not set
# CONFIG_BACKLIGHT_PWM is not set

# disable direct rendering manager support
# CONFIG_DRM is not set

# disable DVB hardware support
# CONFIG_DVB_CORE is not set

# disable android support options
# CONFIG_ANDROID_BINDER_IPC is not set

# disable samba server kernel support
# CONFIG_SMB_SERVER is not set

# disable media controller (camera) support
# CONFIG_MEDIA_CONTROLLER is not set

# disable all runtime testing menu items
# CONFIG_RUNTIME_TESTING_MENU is not set

# force conntrack as kernel component
# to be able to set options
CONFIG_NF_CONNTRACK=y

# disable deprecated staging drivers
# CONFIG_STAGING_MEDIA_DEPRECATED is not set

# force kernel preempt mode
CONFIG_PREEMPT=y
# CONFIG_DEBUG_PREEMPT is not set
# CONFIG_PREEMPT_DYNAMIC is not set

# support for /proc/config.gz
CONFIG_IKCONFIG=y
CONFIG_IKCONFIG_PROC=y

# enable zram and disable zswap because we
# don't have any swap device/file
CONFIG_ZRAM=y
CONFIG_ZRAM_BACKEND_LZ4=y
CONFIG_ZRAM_DEF_COMP_LZ4=y
# CONFIG_ZSWAP is not set
# CONFIG_Z3FOLD is not set

# enable Multi-Gen LRU for improved performance unter memory pressure
CONFIG_LRU_GEN=y
CONFIG_LRU_GEN_ENABLED=y

# enable ondemand frequency scaling
CONFIG_CPU_FREQ=y
CONFIG_CPU_FREQ_GOV_ONDEMAND=y
CONFIG_CPU_FREQ_DEFAULT_GOV_ONDEMAND=y

# filesystem support settings
CONFIG_MISC_FILESYSTEMS=y
CONFIG_BLOCK=y
CONFIG_EXT4_FS=y
CONFIG_MSDOS_FS=y
CONFIG_VFAT_FS=y
CONFIG_F2FS_FS=y
CONFIG_F2FS_STAT_FS=y
CONFIG_F2FS_FS_XATTR=y
CONFIG_F2FS_FS_POSIX_ACL=y
CONFIG_F2FS_IOSTAT=y
CONFIG_NTFS_FS=y
CONFIG_SQUASHFS=m
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_BTRFS_FS=m
CONFIG_FAT_DEFAULT_IOCHARSET="iso8859-1"
CONFIG_CIFS=m
CONFIG_CIFS_XATTR=y
CONFIG_CIFS_POSIX=y
CONFIG_CIFS_DFS_UPCALL=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_TMPFS_XATTR=y
# CONFIG_CEPH_FS is not set

# partition support
CONFIG_PARTITION_ADVANCED=y
CONFIG_EFI_PARTITION=y
CONFIG_MSDOS_PARTITION=y

# enable ata support
CONFIG_ATA=y

# enable raid/lvm support
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
CONFIG_BLK_DEV_LOOP=y
CONFIG_DM_VERITY=y

# audit support
CONFIG_AUDIT=y

# anable cryptographic API
CONFIG_CRYPTO=y
CONFIG_CRYPTO_LZ4=y

# disable kernel boot logo support
# CONFIG_LOGO is not set

# disable minimum stack debug counters for improved process startup
# CONFIG_DEBUG_STACK_USAGE is not set

# bluetooth support
CONFIG_BT=m
CONFIG_BT_BREDR=y
CONFIG_BT_RFCOMM=m
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_LE=y
CONFIG_BT_BNEP=m
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HIDP=m
CONFIG_BT_LEDS=y

# enabke ipv6 support
CONFIG_IPV6=y
CONFIG_IPV6_ROUTER_PREF=y
CONFIG_IPV6_SIT=m

# enable IP multicast routing
CONFIG_IP_MROUTE=y
CONFIG_IPV6_MROUTE=y

# enable bridge support
CONFIG_BRIDGE=y

# enable mptcp support
CONFIG_MPTCP=y
CONFIG_MPTCP_IPV6=y

# enable Netfilter nf_tables support
CONFIG_NF_TABLES=m
CONFIG_NF_TABLES_INET=y
CONFIG_NF_TABLES_NETDEV=y
CONFIG_NF_TPROXY_IPV4=m
CONFIG_NF_TABLES_IPV4=y
CONFIG_NF_TABLES_ARP=y
CONFIG_NF_TPROXY_IPV6=m
CONFIG_NF_TABLES_IPV6=y
CONFIG_NF_TABLES_BRIDGE=m
CONFIG_NF_FLOW_TABLE=m
CONFIG_NFT_NUMGEN=m
CONFIG_NFT_CT=m
CONFIG_NFT_FLOW_OFFLOAD=m
CONFIG_NFT_CONNLIMIT=m
CONFIG_NFT_LOG=m
CONFIG_NFT_LIMIT=m
CONFIG_NFT_MASQ=m
CONFIG_NFT_REDIR=m
CONFIG_NFT_NAT=m
CONFIG_NFT_TUNNEL=m
CONFIG_NFT_QUEUE=m
CONFIG_NFT_QUOTA=m
CONFIG_NFT_REJECT=m
CONFIG_NFT_REJECT_INET=m
CONFIG_NFT_COMPAT=m
CONFIG_NFT_HASH=m
CONFIG_NFT_FIB=m
CONFIG_NFT_FIB_INET=m
CONFIG_NFT_XFRM=m
CONFIG_NFT_SOCKET=m
CONFIG_NFT_OSF=m
CONFIG_NFT_TPROXY=m
CONFIG_NFT_SYNPROXY=m
CONFIG_NFT_DUP_NETDEV=m
CONFIG_NFT_FWD_NETDEV=m
CONFIG_NFT_FIB_NETDEV=m
CONFIG_NFT_REJECT_NETDEV=m
CONFIG_NFT_REJECT_IPV4=m
CONFIG_NFT_DUP_IPV4=m
CONFIG_NFT_FIB_IPV4=m
CONFIG_NFT_REJECT_IPV6=m
CONFIG_NFT_DUP_IPV6=m
CONFIG_NFT_FIB_IPV6=m
CONFIG_NFT_BRIDGE_META=m
CONFIG_NFT_BRIDGE_REJECT=m
CONFIG_NETFILTER_ADVANCED=y
CONFIG_NETFILTER_NETLINK_QUEUE=y
CONFIG_NETFILTER_XT_SET=m
CONFIG_NETFILTER_XT_MATCH_PKTTYPE=m
CONFIG_NETFILTER_XT_MATCH_LIMIT=m
CONFIG_NETFILTER_XT_MATCH_HL=m
CONFIG_NETFILTER_XT_MATCH_TCPMSS=m
CONFIG_NETFILTER_XT_TARGET_TCPMSS=m
CONFIG_IP6_NF_MATCH_HL=m

# enable IP set support
CONFIG_IP_SET=m
CONFIG_IP_SET_BITMAP_IP=m
CONFIG_IP_SET_BITMAP_IPMAC=m
CONFIG_IP_SET_BITMAP_PORT=m
CONFIG_IP_SET_HASH_IP=m
CONFIG_IP_SET_HASH_IPMARK=m
CONFIG_IP_SET_HASH_IPPORT=m
CONFIG_IP_SET_HASH_IPPORTIP=m
CONFIG_IP_SET_HASH_IPPORTNET=m
CONFIG_IP_SET_HASH_IPMAC=m
CONFIG_IP_SET_HASH_MAC=m
CONFIG_IP_SET_HASH_NETPORTNET=m
CONFIG_IP_SET_HASH_NET=m
CONFIG_IP_SET_HASH_NETNET=m
CONFIG_IP_SET_HASH_NETPORT=m
CONFIG_IP_SET_HASH_NETIFACE=m
CONFIG_IP_SET_LIST_SET=m
CONFIG_IP_VS=m
CONFIG_IP_VS_IPV6=y

# enable virtual ip tunneling
CONFIG_NET_IPVTI=m

# network scheduler settings
CONFIG_NET_SCHED=y
CONFIG_NET_SCH_FQ_CODEL=y
CONFIG_NET_SCH_DEFAULT=y
CONFIG_DEFAULT_FQ_CODEL=y

# wireless support
CONFIG_WIRELESS=y
CONFIG_WEXT_CORE=y
CONFIG_WEXT_PROC=y
CONFIG_CFG80211=m
CONFIG_CFG80211_WEXT=y
# CONFIG_CFG80211_CRDA_SUPPORT is not set

# network tunnel settings
CONFIG_TUN=y
CONFIG_VLAN_8021Q=m
CONFIG_VLAN_8021Q_GVRP=y
CONFIG_VLAN_8021Q_MVRP=y

# enable ip/udp tunnels
CONFIG_NET_IP_TUNNEL=m
CONFIG_NET_UDP_TUNNEL=m

# wireguard support
CONFIG_WIREGUARD=m

# human interface devices support
CONFIG_HID=y
CONFIG_HIDRAW=y
CONFIG_UHID=y

# enable MTD support
CONFIG_MTD=m

# led trigger settings
CONFIG_LEDS_TRIGGERS=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_DISK=y
CONFIG_LEDS_TRIGGER_MTD=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y
CONFIG_LEDS_TRIGGER_DEFAULT_ON=y

# userspace LED support
CONFIG_LEDS_USER=m

# native language/codepage support
CONFIG_NLS=y
CONFIG_NLS_DEFAULT="utf8"
CONFIG_NLS_CODEPAGE_437=y
CONFIG_NLS_ASCII=y
CONFIG_NLS_ISO8859_1=y
CONFIG_NLS_UTF8=y

# detect hanging tasks after 120s
CONFIG_DETECT_HUNG_TASK=y
CONFIG_DEFAULT_HUNG_TASK_TIMEOUT=120

# enable idle ticks
CONFIG_NO_HZ=y
CONFIG_NO_HZ_IDLE=y
