# Global mount options

KERNEL=="mmcblk[0-9]", ACTION=="add", RUN+="/bin/touch /var/status/hasSD"
KERNEL=="mmcblk[0-9]", ACTION=="add", ENV{mount_options}="noatime,sync"
KERNEL=="mmcblk[0-9]", ACTION=="add", IMPORT{program}="/sbin/blkid -o udev -p %N"
KERNEL=="mmcblk[0-9]", ACTION=="add", ENV{ID_FS_TYPE}=="vfat|ntfs", ENV{mount_options}="$env{mount_options},utf8,gid=100,umask=002"
KERNEL=="mmcblk[0-9]", ACTION=="add", RUN+="/bin/mkdir -p /media/sd-%k"
KERNEL=="mmcblk[0-9]", ACTION=="add", RUN+="/bin/ln -s /media/sd-%k /mnt/sd-%k"
KERNEL=="mmcblk[0-9]", ACTION=="add", RUN+="/sbin/modprobe vfat"
KERNEL=="mmcblk[0-9]", ACTION=="add", RUN+="/bin/mountSD -o $env{mount_options} /dev/%k /media/sd-%k"
KERNEL=="mmcblk[0-9]", ACTION=="remove", RUN+="/bin/umount /media/sd-%k"
KERNEL=="mmcblk[0-9]", ACTION=="remove", RUN+="/bin/rm /var/status/hasSD"
KERNEL=="mmcblk[0-9]", ACTION=="remove", RUN+="/bin/rm /var/status/SDmounted"
KERNEL=="mmcblk[0-9]", ACTION=="remove", RUN+="/bin/rm /var/status/SDinitialised"

