/dts-v1/;
/plugin/;

/*
** Device Tree Overlay for eQ-3 RPI-RF-MOD and
** HM-MOD-RPI-PCB for ODROID-N2/N2+
**
** Copyright (c) 2021 Jens Maus <mail@jens-maus.de>
** Licensed under Apache 2.0
**
*/

/ {
    compatible = "hardkernel,odroid-n2-plus", "hardkernel,odroid-n2", "amlogic,s922x", "amlogic,g12b";

    // fragment to define settings for the rx8130 RTC clock
    // of the RPI-RF-MOD
    fragment@0 {
        target = <&i2c2>;
        __overlay__ {
            #address-cells = <1>;
            #size-cells = <0>;
            status = "okay";

            rpi_rf_mod_rtc: rx8130@32 {
                compatible = "epson,rx8130";
                reg = <0x32>;
                status = "okay";
                aux-voltage-chargeable = <1>;
            };
        };
    };

    // fragment to define uart/serial dependencies for
    // generic_raw_uart
    fragment@1 {
        target = <&uart_A>;
        __overlay__ {
            compatible = "pivccu,meson";
            status = "okay";
            pivccu,reset_pin = <&gpio 81 0>;    // HM-MOD-RPI-PCB
            pivccu,alt_reset_pin = <&gpio 84 0>;// RPI-RF-MOD
            pivccu,rtc = <&rpi_rf_mod_rtc>;     // RPI-RF-MOD
        };
    };

    // modify /aliases path and swap i2c2<>i2c3 as well as using
    // the rtc of the RPI-RF-MOD as the primary (rtc0) one
    fragment@2 {
        target-path = "/aliases";
        __overlay__ {
            i2c0 = "/soc/bus@ffd00000/i2c@1c000";           // @i2c3
            i2c1 = "/soc/bus@ffd00000/i2c@1d000";           // @i2c2
            rtc0 = "/soc/bus@ffd00000/i2c@1d000/rx8130@32"; // @rpi_rf_mod_rtc
            rtc1 = "/soc/bus@ffd00000/i2c@1c000/rtc@51";    // @rtc,pcf8563
            rtc2 = "/soc/bus@ff800000/rtc@0a8";             // @vrtc
        };
    };
};
