# keep serial enabled
CONFIG_SERIAL_PRESENT=y

CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_MANUFACTURER="RaspberryPi"
CONFIG_USB_GADGET_VENDOR_NUM=0x0a5c
CONFIG_USB_GADGET_PRODUCT_NUM=0x000e
CONFIG_USB_GADGET_DOWNLOAD=y

CONFIG_CMD_NVME=y

CONFIG_USB_STORAGE=y
CONFIG_USB_FUNCTION_MASS_STORAGE=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_GENERIC=y
CONFIG_USB_OHCI_HCD=y

CONFIG_USB_XHCI_BRCM=y

CONFIG_NVME=y
CONFIG_NVME_PCI=y
