<div class="popupTitle">
  &nbsp;&nbsp;
  <% 
    Write(system.GetVar("title"));
  %>
</div>
<div class="CLASS00001">
  <table class="popupTableScript CLASS00002" border="1">
    <tr class="popupTableRow">

    <td class="CLASS00018" colspan="2">
      <textarea id="scrinp" class="CLASS00003"><% object oTmp = dom.GetObject( system.GetVar("sdid") ); if( oTmp ) { if( oTmp.DestinationValueType() == ivtString ) { Write( oTmp.DestinationValue().ToString() ); } } %></textarea>
    </td>
    </tr>
   
    <tr >
    <td class="CLASS00004">
      
      <a class="CLASS00005">$val$ = </a>
      <input id="Text1" type="text" class="CLASS00006"/>
      <a class="CLASS00007">$this$ = </a>
      <%
        integer iThis = 0;
        if(oTmp)
        {
          iThis = oTmp.DestinationProgram();
          if( iThis == ID_ERROR ) { iThis = ""; }
        }
      %>
      <input id="Text2" type="text" class="CLASS00008" value="<% Write(iThis); %>" />
      <a class="CLASS00009">$src$ = </a>
      <input id="Text3" type="text" class="CLASS00010"/>
      
    </td>
    
    <td class="CLASS00011">
    <a class="FooterButton CLASS00016" onclick="CheckSyntax();">${lblErrorCheck}</a>
    <a class="FooterButton CLASS00012" onclick="RunScript();">${dialogScriptExecuterBtnExecute}</a>
    </td>
    </tr>
    
    <tr>
    <td class="CLASS00013" colspan="2">
      <textarea id="scrout" class="CLASS00014"></textarea>
    </td>
    </tr>
    
    <tr class="popupTableRow">
    <td class="CLASS00015" colspan="2">
    <a class="FooterButton CLASS00016" onclick="PopupClose();" >${btnCancel}</a>
    <a class="FooterButton CLASS00017" onclick="SaveScript();PopupClose();" >${btnOk}</a>
    </td>
    </tr>
  </table>
</div>
<script type="text/javascript">
  RunScript = function()
  {
    var script = $F('scrinp');
    var code = $F('scrinp');
    var val = $F('Text1');
    var ths = $F('Text2');
    var src = $F('Text3');
    var url = '/esp/system.htm?sid='+SessionId;
    var pb = "";
    pb += 'string action = "SyntaxCheck";';
    pb += 'string code = ^'+code+'^;';
    pb += 'string val = "'+val+'";';
    pb += 'string ths = "'+ths+'";';
    pb += 'string src = "'+src+'";';
    var opt = 
    {
      postBody: pb,
      onComplete: function(t)
      {
        conInfo( "EditScript: CheckSyntax returned: ["+iseStripAll(t.responseText)+"]" );
        if( iseStripAll(t.responseText).length == 0 )
        {
          homematic("ReGa.runScript", {"script": script}, function(response, error)
              {
                if (error === null)
                {
                  $('scrout').value = response;
                }
              });
        }
        else
        {
          $('scrout').value = t.responseText;
      }
    }
  }
    new Ajax.Request(url,opt);
}
  SaveScript = function()
  {
    dlgResult = $('scrinp').value;
  }
  CheckSyntax = function()
  {
    var code = $F('scrinp');
    var val = $F('Text1');
    var ths = $F('Text2');
    var src = $F('Text3');
    var url = '/esp/system.htm?sid='+SessionId;
    var pb = "";
    pb += 'string action = "SyntaxCheck";';
    pb += 'string code = ^'+code+'^;';
    pb += 'string val = "'+val+'";';
    pb += 'string ths = "'+ths+'";';
    pb += 'string src = "'+src+'";';
    var opt = 
    {
      postBody: pb,
      onComplete: function(t)
      {
        conInfo( "EditScript: CheckSyntax returned: ["+iseStripAll(t.responseText)+"]" );
        if( iseStripAll(t.responseText).length == 0 )
        {
          $('scrout').value = translateKey("lblNoError");
        }
        else
        {
          $('scrout').value = t.responseText;
        }
      }
    }
    new Ajax.Request(url,opt);
  }
</script>