# CONFIG_LOCALVERSION_AUTO is not set
CONFIG_DISTRO_DEFAULTS=y
CONFIG_EXPERT=y
# CONFIG_DISPLAY_CPUINFO is not set
# CONFIG_DISPLAY_BOARDINFO is not set
CONFIG_BOOTDELAY=-2
CONFIG_SYS_PROMPT="RM> "
CONFIG_DOS_PARTITION=y
# CONFIG_ISO_PARTITION is not set
# CONFIG_EFI_PARTITION is not set
CONFIG_FS_EXT4=y
CONFIG_FS_FAT=y
# CONFIG_ENV_IS_IN_FAT is not set
# CONFIG_ENV_IS_IN_EXT4 is not set
# CONFIG_ENV_IS_IN_MMC is not set
CONFIG_ENV_IS_NOWHERE=y
# CONFIG_EFI_LOADER is not set
CONFIG_CMD_SETEXPR=y
CONFIG_AUTOBOOT_KEYED=y
CONFIG_AUTOBOOT_PROMPT="Hit <CTRL-X> to stop autoboot in %2ds\n"
CONFIG_AUTOBOOT_DELAY_STR="\x18"
CONFIG_BOOT_RETRY=y
CONFIG_BOOT_RETRY_TIME=20
CONFIG_RESET_TO_RETRY=y
CONFIG_SILENT_CONSOLE=y
CONFIG_SPL_SILENT_CONSOLE=y
CONFIG_TPL_SILENT_CONSOLE=y
CONFIG_SILENT_U_BOOT_ONLY=y
CONFIG_DISPLAY_BOARDINFO=y
# CONFIG_REQUIRE_SERIAL_CONSOLE is not set
# CONFIG_SERIAL_PRESENT is not set
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_GENERIC=y
CONFIG_USB_OHCI_HCD=y
# CONFIG_VIDEO_LOGO is not set
CONFIG_USB_FUNCTION_MASS_STORAGE=y
CONFIG_ERRNO_STR=y
CONFIG_LZ4=y
