<script type='text/javascript'>
  chnsTmp = new Array();
<%
  object room = dom.GetObject( system.GetVar("id") );
  boolean clearSel = system.GetVar("clearSel");
  Write("bSortChOnly = "#(system.GetSessionVar("sessionLS") != "room")#";");
  string sID;
  string sEnum = "";
  boolean bListAll;
  if( room )
  {
    bListAll = false;
    sEnum = room.EnumEnabledIDs();
    sID = system.GetVar("id");
  }
  else
  {
    bListAll = true;
    object oUser = dom.GetObject( system.GetSessionVar("sessionUserID") );
    object oRooms = dom.GetObject( ID_ROOMS );
    
    if( oUser && oRooms && clearSel )
    {      
      oUser.UserTempViewIDs2().RemoveAll();
      foreach( sID, oRooms.EnumIDs() )
      {
        object oRoom = dom.GetObject( sID );
        if( oRoom )
        {
          string s2;
          foreach(s2,oRoom.EnumIDs())
          {
            oUser.UserTempViewIDs2().Add( s2 );
          }
        }
      }
    }
    sEnum = oUser.UserTempViewIDs2().EnumIDs();
    sID = system.GetVar("id");
  }

  if( sEnum.Length() )
  { 
    integer iCount = 0;    
    string tmp = "";
    foreach(tmp, sEnum)
    {
      string s = "";
      string trId = sID#"tr"#iCount;
      object chn = dom.GetObject(tmp);
      object oDev = dom.GetObject(chn.Device());
      if (chn.IsTypeOf(OT_CHANNEL) && chn.ReadyConfig() && oDev.ReadyConfig() ) 
      {
        integer devId = chn.Device();
        if (devId != ID_ERROR) {
          object dev = dom.GetObject(devId);
        }
        string category = "";
        if (chn.ChnDirection() == 1) {category = '${lblSender}';}
        if (chn.ChnDirection() == 2) {category = '${lblReceiver}';}
        
        string sDevLbl = "";
        integer iDevId = chn.Device();
        string sIface = "";
        if (iDevId != ID_ERROR) {
          object dev = dom.GetObject(iDevId);
          sDevLbl = dev.Label();
          integer iface = dev.Interface();
          if (iface != ID_ERROR) {
            sIface = dom.GetObject(iface).Name();
          }
        }
        string funcTmp = "";
        string funcIDs = "";
        string functions = "";
        foreach(funcTmp, chn.ChnFunction())
        {
          object objTmp = dom.GetObject(funcTmp);
          functions = functions # objTmp.Name() # ";";
          funcIDs = funcIDs # objTmp.ID() # '\t';
        }
        
        string rooms = "";
        string roomTmp = "";
        string roomIDs = "";
        foreach(roomTmp, chn.ChnRoom()) 
        {
          object objTmp = dom.GetObject(roomTmp);
          roomIDs = roomIDs # objTmp.ID() # '\t';
          rooms = rooms # objTmp.Name() # ";";
        }
       
        object dev = dom.GetObject(chn.Device());

        Write("tmp = new Object();");
        Write("tmp['id'] = "#chn.ID()#";");
        Write("tmp['trid'] = '"#trId#"';");
        Write("tmp['name'] = '"#chn.Name()#"';");
        Write("tmp['parentName'] = '"#dev.Name()#"';");
        Write("tmp['type'] = '"#chn.Label()#"';");
        Write("tmp['sn'] = '"#chn.Address()#"';");
        Write("tmp['rooms'] = '"#rooms#"';");
        Write("tmp['iface'] = '"#category#"';");
        Write("tmp['trans'] = ("#chn.ChnAESActive()#" ?  translateKey('lblSecured') : translateKey('lblStandard') );");
        Write("tmp['funcs'] = '"#functions#"';");
        Write("tmp['chnnr'] = '"#chn.ChnNumber()#"';");
        Write("tmp['devlbl'] = '"#sDevLbl#"';");
        integer iProgCount = chn.ChnDPUsageCount();
        if( iProgCount == ID_ERROR ) { iProgCount = 0; }
        Write("tmp['progC'] = "#iProgCount#";");
        integer iLinkCount = chn.ChnLinkCount();
        if( iLinkCount == ID_ERROR ) { iLinkCount = 0; }
        Write("tmp['devC'] = "#iLinkCount#";");
        Write("tmp['desc'] = DEV_getDescription('"#sDevLbl#"');");
        Write("tmp['devlbl'] = '"#sDevLbl#"';");
        Write("tmp['gm'] = 0;");
        Write("tmp['deviface'] = '"#sIface#"';");
        
        Write("tmp['unerasable'] = '"#chn.Unerasable()#"';");
        
        Write("tmp['fltOpts'] = new Object();");
        Write("tmp['fltOpts']['iCat'] = '"#chn.ChnDirection()#"';");
        Write("tmp['fltOpts']['iTrans'] = "#chn.ChnAESActive()#";");
        Write("tmp['fltOpts']['rooms'] = '"#roomIDs#"';");
        Write("tmp['fltOpts']['funcs'] = '"#funcIDs#"';");
        Write("tmp['enumprgfilter'] = '"#chn.ChnEnumDPUsagePrograms()#"';");
        Write("arRObj['"#system.GetVar("id")#"']['chncount']++;");
        Write("chnsTmp[chnsTmp.length] = tmp;");
        
        Write("if(fltSR.objPassFilter(tmp))");
        Write("  show('"#trId#"');"); 
        iCount = iCount + 1;
      }
    }
    if (iCount == 0) {
      Write("hide(img"#sID#");");
    }
    Write("arRObj['"#system.GetVar("id")#"']['chns'] = chnsTmp;");
    Write("arRObj['"#system.GetVar("id")#"']['loaded'] = true;");
  }
%>
var iInsIdx = 0;
if (bSortChOnly) {
  while ($("tblRoomList").rows.length > 3) {
    $("tblRoomList").deleteRow($("tblRoomList").rows.length - 1);
  }
  iInsIdx = 2;
}
else {
  iInsIdx = arTblPos[<% Write(system.GetVar("fTblPos")); %>];
}

var idRoom = <% Write(system.GetVar("id"));%>
var iElemsAdded = 0;
var arPicDivs = new Array();
var iElemsShown = 0;
var _chn;

//for(var i = 0; i<$("tblsvr").rows.length;i++ ) $("tblsvr").deleteRow(0);
for (var i = 0; i < chnsTmp.length; i++) {
  if (!isDeleted(idRoom, chnsTmp[i]['id'])) {
    var iTblInsIdx = iInsIdx + 1;
    if (iTblInsIdx > $("tblRoomList").rows.length) {
      iTblInsIdx = $("tblRoomList").rows.length;
    }
    var tr = $("tblRoomList").insertRow(iInsIdx + 1);
    iInsIdx++;
    iElemsAdded++;
    tr.id = chnsTmp[i]['trid'];
    if (!fltSR.objPassFilter(chnsTmp[i]))
      tr.style.display = "none";
    else 
      iElemsShown++;
    var td = Builder.node('td'); tr.appendChild(td);
    if (bSortChOnly) {
      td = Builder.node('td', {className: "GrayBkg DeviceListCell"}, semCut(chnsTmp[i]['rooms'])); tr.appendChild(td);
    }
    else {
      td = Builder.node('td'); tr.appendChild(td);
    }

    //td = Builder.node('td', {className: "GrayBkg DeviceListCell"}, chnsTmp[i]['name']);
    td = Builder.node('td', {className: "GrayBkg DeviceListCell"});

    _chn = DeviceList.getChannelByAddress(chnsTmp[i]['sn']);
    div = Builder.node("div");
    div.innerHTML = chnsTmp[i]['name'] +"<br/>" +_chn.nameExtention;
    td.appendChild(div);

    tr.appendChild(td);

    td = Builder.node('td', {className: "GrayBkg DeviceListCell"}, chnsTmp[i]['type']); tr.appendChild(td);
    var sPicDivId = 'picDiv' + idRoom + chnsTmp[i]['id'];
    td = Builder.node('td', {className: "WhiteBkgPic DeviceListCell"}, [
        Builder.node('div', {id: sPicDivId, className: "CLASS04700",
          onmouseover:"picDivShow(jg_250, '"+chnsTmp[i]['devlbl']+"', 250, '" + chnsTmp[i]['chnnr']+"', this);", onmouseout:"picDivHide(jg_250);"})
      ]);
    Element.addClassName(td, "CLASS04701");
    tr.appendChild(td);

    td = Builder.node('td', {className: "GrayBkg DeviceListCell"}, semCut(chnsTmp[i]['desc'] + ";" + chnsTmp[i]['parentName'])); tr.appendChild(td);
    td = Builder.node('td', {className: "GrayBkg DeviceListCell"}, chnsTmp[i]['sn']); tr.appendChild(td);
    td = Builder.node('td', {className: "GrayBkg DeviceListCell"}, chnsTmp[i]['iface']); tr.appendChild(td);
    td = Builder.node('td', {className: "GrayBkg DeviceListCell"}, chnsTmp[i]['trans']); tr.appendChild(td);
    td = Builder.node('td', {className: "GrayBkg DeviceListCell"}, semCut(chnsTmp[i]['funcs'])); tr.appendChild(td);
        
    var sDelFunc = "";
    if( <% Write(bListAll); %>)
    {
      sDelFunc = 'removeChannelFromAllRooms("' + idRoom + '", "' + chnsTmp[i]['id'] + '");';
    }
    else
    {
      sDelFunc = 'removeChannelFromRoom("' + idRoom + '", "' + chnsTmp[i]['id'] + '");';
    }
    var sName = translateKey("btnRemove");//"Löschen";
    var sClassName = "StdButton";
    if( chnsTmp[i]['unerasable'] == "true" && chnsTmp[i]['type'] != "HmIP-RCV-50")
    {
      sClassName += "Inactive";
      sDelFunc = "";
    }
    td = Builder.node('td', {className: "GrayBkg DeviceListCell"}, [ Builder.node('div', {className: sClassName, onclick: sDelFunc}, sName) ]); 
    tr.appendChild(td);
    td = Builder.node('td', {className: "WhiteBkg"});
    writeDevProg(td, chnsTmp[i]);
    tr.appendChild(td);
    
    arPicDivs[arPicDivs.length] = sPicDivId;
    var jg_0 = new jsGraphics(sPicDivId);
    InitGD(jg_0, 50);
    Draw(jg_0, chnsTmp[i]['devlbl'], 50, chnsTmp[i]['chnnr']);
  }
}

// Ids der PicDivs hinzufügen (fürs zuklappen)
arRObj['<% Write(system.GetVar("id")); %>']['picdivs'] = arPicDivs;
// Einfüge-Positionen updaten
for (var i = <% Write(system.GetVar("fTblPos")); %>  ; i < arTblPos.length; i++) {
  arTblPos[i] = arTblPos[i] + iElemsAdded;
}

hideRow = function(rId, chnId) {
  for (var i = 0; i < arRObj[rId]['chns'].length; i++) {
    if (arRObj[rId]['chns'][i]['id'] == chnId) {
      arRObj[rId]['chns'][i]['deleted'] = true;
      hide('picDiv' + rId + chnId);
      hide(arRObj[rId]['chns'][i]['trid']);
    }
  }
  arDelChns[arDelChns.length] = "" + rId + chnId;
}

// reset all SortSelected columns
var ths = document.getElementById("tblRoomList").getElementsByTagName("th");
for(th in ths)
{ 
  if(ths[th].innerHTML)
  {
    ths[th].innerHTML = ths[th].innerHTML.replace(/SortSelected/g,"Sort");
  }
}

// set SortSelected class to clicked column
var selTbHeader = document.getElementById('<%Write(system.GetSessionVar("sessionLS")); %>');
if(selTbHeader)
{
  selTbHeader.className = selTbHeader.className.replace(/Sort/, "SortSelected");
}
if ( (iElemsShown == 0) && (chnsTmp.length > 0))
  hide("img" + idRoom);

bEIP = false;
Cursor.set(Cursor.NORMAL);
  translatePage("#tblsvr");
</script>
