CONFIG_KERNEL_LZ4=y
# CONFIG_KERNEL_GZIP is not set

# disable WERROR to continue con compiler warning
# CONFIG_WERROR is not set

# disable old framebuffer for video display to work
# CONFIG_FB_BCM2708 is not set

# disable sound
# CONFIG_SND_BCM2835 is not set

# disable video camera support
# CONFIG_VIDEO_BCM2835_UNICAM is not set

# disable touchscreen
# CONFIG_REGULATOR_RASPBERRYPI_TOUCHSCREEN_ATTINY is not set

# enable mmc support
CONFIG_MMC_BCM2835=y

# use pl011 serial as a kernel module and
# disable serial console on amba
CONFIG_SERIAL_AMBA_PL011=m
# CONFIG_SERIAL_AMBA_PL011_CONSOLE is not set

# disable backlight support
# CONFIG_BACKLIGHT_RPI is not set
