name: CI
on:
  push:
  pull_request:
  schedule:
    - cron: '0 2 * * *' # run at 2 AM UTC

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 480

    strategy:
      fail-fast: false
      matrix:
        platform: [rpi0, rpi3, rpi4, tinkerboard, intelnuc, ova]
    
    steps:
    - uses: actions/checkout@v2

    - name: rename worker directory
      working-directory: ../
      run: |
        mv RaspberryMatic b
        ln -s b RaspberryMatic

    - name: setup env
      run: |
        echo "DATE=$(date +%Y%m%d)" >> $GITHUB_ENV
        echo "OCCU_VERSION=$(grep 'OCCU_VERSION =' buildroot-external/package/occu/occu.mk | cut -d' ' -f3 | cut -d'-' -f1)" >> $GITHUB_ENV
        echo "VERSION=$(grep 'OCCU_VERSION =' buildroot-external/package/occu/occu.mk | cut -d' ' -f3 | cut -d'-' -f1).$(date +%Y%m%d)" >> $GITHUB_ENV
        echo "GITHUB_SHA7=$(echo ${GITHUB_SHA::7})" >> $GITHUB_ENV

    - name: free disk space
      run: |
        df -h /
        sudo swapoff -a
        sudo rm -rf /swapfile /usr/share/dotnet /usr/local/lib/android /opt/ghc
        sudo apt clean
        docker rmi $(docker image ls -aq)
        df -h /

    - name: cleanup old action artifacts
      run: .github/workflows/purge_artifacts.sh ${{ secrets.REPO_ACCESS_TOKEN }}

    - name: switch to experimental EULA files
      run: |
        mv -f release/updatepkg/raspmatic_rpi3/EULA.de_nightly release/updatepkg/raspmatic_rpi3/EULA.de
        mv -f release/updatepkg/raspmatic_rpi3/EULA.en_nightly release/updatepkg/raspmatic_rpi3/EULA.en

    #- name: remote debug tmate session
    #  uses: mxschmitt/action-tmate@v1
    #  if: matrix.platform == 'ova'

    - name: build raspmatic_${{ matrix.platform }}
      run: |
        sudo mkdir -p /mnt/download
        sudo chown runner /mnt/download
        make DATE=${{ env.DATE }} BR2_DL_DIR=/mnt/download raspmatic_${{ matrix.platform }}-release

    - name: ccu3 updatePkg generation
      if: matrix.platform == 'rpi3'
      run: |
        make DATE=${{ env.DATE }} BR2_DL_DIR=/mnt/download PRODUCT=raspmatic_${{ matrix.platform }} updatePkg
        mv release/raspmatic_${{ matrix.platform }}-${{ env.VERSION }}.tgz release/RaspberryMatic-${{ env.VERSION }}-ccu3.tgz
        ( cd release; sha256sum RaspberryMatic-${{ env.VERSION }}-ccu3.tgz >RaspberryMatic-${{ env.VERSION }}-ccu3.tgz.sha256 )

    - name: .ova copying
      if: matrix.platform == 'ova'
      run: |
        cp build-raspmatic_${{ matrix.platform }}/images/RaspberryMatic.ova release/RaspberryMatic-${{ env.VERSION }}.ova
        ( cd release; sha256sum RaspberryMatic-${{ env.VERSION }}.ova >RaspberryMatic-${{ env.VERSION }}.ova.sha256 )

    - name: cleanup raspmatic_${{ matrix.platform }}
      run: |
        make distclean

    - name: upload nightly build archive
      if: github.event_name == 'schedule'
      uses: WebFreak001/deploy-nightly@v1.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
      with:
        upload_url: https://uploads.github.com/repos/jens-maus/RaspberryMatic/releases/22744592/assets{?name,label}
        release_id: 22744592
        asset_path: release/RaspberryMatic-${{ env.VERSION }}-${{ matrix.platform }}.zip
        asset_name: RaspberryMatic-${{ env.OCCU_VERSION }}.$$-${{ matrix.platform }}.zip
        asset_content_type: application/zip
        max_releases: 1

    - name: upload nightly build checksum
      if: github.event_name == 'schedule'
      uses: WebFreak001/deploy-nightly@v1.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
      with:
        upload_url: https://uploads.github.com/repos/jens-maus/RaspberryMatic/releases/22744592/assets{?name,label}
        release_id: 22744592
        asset_path: release/RaspberryMatic-${{ env.VERSION }}-${{ matrix.platform }}.zip.sha256
        asset_name: RaspberryMatic-${{ env.OCCU_VERSION }}.$$-${{ matrix.platform }}.zip.sha256
        asset_content_type: text/plain
        max_releases: 1

    - name: upload nightly build archive (ccu3)
      if: github.event_name == 'schedule' && matrix.platform == 'rpi3'
      uses: WebFreak001/deploy-nightly@v1.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
      with:
        upload_url: https://uploads.github.com/repos/jens-maus/RaspberryMatic/releases/22744592/assets{?name,label}
        release_id: 22744592
        asset_path: release/RaspberryMatic-${{ env.VERSION }}-ccu3.tgz
        asset_name: RaspberryMatic-${{ env.OCCU_VERSION }}.$$-ccu3.tgz
        asset_content_type: application/gzip
        max_releases: 1

    - name: upload nightly build checksum (ccu3)
      if: github.event_name == 'schedule' && matrix.platform == 'rpi3'
      uses: WebFreak001/deploy-nightly@v1.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
      with:
        upload_url: https://uploads.github.com/repos/jens-maus/RaspberryMatic/releases/22744592/assets{?name,label}
        release_id: 22744592
        asset_path: release/RaspberryMatic-${{ env.VERSION }}-ccu3.tgz.sha256
        asset_name: RaspberryMatic-${{ env.OCCU_VERSION }}.$$-ccu3.tgz.sha256
        asset_content_type: text/plain
        max_releases: 1

    - name: upload nightly build archive (.ova)
      if: github.event_name == 'schedule' && matrix.platform == 'ova'
      uses: WebFreak001/deploy-nightly@v1.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
      with:
        upload_url: https://uploads.github.com/repos/jens-maus/RaspberryMatic/releases/22744592/assets{?name,label}
        release_id: 22744592
        asset_path: release/RaspberryMatic-${{ env.VERSION }}.ova
        asset_name: RaspberryMatic-${{ env.OCCU_VERSION }}.$$.ova
        asset_content_type: application/gzip
        max_releases: 1

    - name: upload nightly build checksum (.ova)
      if: github.event_name == 'schedule' && matrix.platform == 'ova'
      uses: WebFreak001/deploy-nightly@v1.1.0
      env:
        GITHUB_TOKEN: ${{ secrets.REPO_ACCESS_TOKEN }}
      with:
        upload_url: https://uploads.github.com/repos/jens-maus/RaspberryMatic/releases/22744592/assets{?name,label}
        release_id: 22744592
        asset_path: release/RaspberryMatic-${{ env.VERSION }}.ova.sha256
        asset_name: RaspberryMatic-${{ env.OCCU_VERSION }}.$$.ova.sha256
        asset_content_type: text/plain
        max_releases: 1

    - name: upload build as workflow artifact
      if: github.event_name != 'schedule'
      uses: actions/upload-artifact@v2
      with:
        path: release/RaspberryMatic-${{ env.VERSION }}-${{ matrix.platform }}.zip*
        name: RaspberryMatic-${{ env.VERSION }}-${{ env.GITHUB_SHA7 }}-${{ matrix.platform }}.zip
      continue-on-error: true

    - name: upload build as workflow artifact (ccu3)
      if: github.event_name != 'schedule' && matrix.platform == 'rpi3'
      uses: actions/upload-artifact@v2
      with:
        path: release/RaspberryMatic-${{ env.VERSION }}-ccu3.tgz*
        name: RaspberryMatic-${{ env.VERSION }}-${{ env.GITHUB_SHA7 }}-ccu3.tgz
      continue-on-error: true

    - name: upload build as workflow artifact (.ova)
      if: github.event_name != 'schedule' && matrix.platform == 'ova'
      uses: actions/upload-artifact@v2
      with:
        path: release/RaspberryMatic-${{ env.VERSION }}.ova*
        name: RaspberryMatic-${{ env.VERSION }}-${{ env.GITHUB_SHA7 }}.ova
      continue-on-error: true
