# RaspberryMatic Label Actions workflow
# yamllint disable rule:truthy
---
name: 'Label Actions'

on:
  issues:
    types: [labeled, unlabeled]
  pull_request_target:
    types: [labeled, unlabeled]
  discussion:
    types: [labeled, unlabeled]

permissions:
  contents: read
  issues: write
  pull-requests: write
  discussions: write

jobs:
  action:
    runs-on: ubuntu-24.04
    steps:
      - uses: dessant/label-actions@v4
